.menu-pane-container {
  padding: 0;
  margin: 0!important;
  border: 0!important;
}

.edit-scales-container {
  width: 12rem;
  display: flex!important;
  justify-content: space-around;
  flex-direction: column;
  z-index: 24;
}

.note {
  border: 2px solid black;
  width: 100%;
  font-size: 1.25em;
  user-select: none;
  padding: 1.2% 2%;
}

.activeNote {
  background-color: #7BB242;
}
