.menu-pane-container {
  padding: 0;
  margin: 0!important;
  border: 0!important;
}

.edit-scales-container {
  width: 12rem;
  display: flex!important;
  justify-content: space-around;
  flex-direction: column;
  z-index: 24;
}

.note {
  border: solid black;
  border-width: 1px 2px;
  width: 100%;
  font-size: 1.25em;
  user-select: none;
  padding: 1.2% 2%;
  cursor: pointer;
}

.root {
  border: solid black;
  border-width: 1px 2px 2px 2px;
  width: 100%;
  font-size: 1.25em;
  user-select: none;
  padding: 1.2% 2%;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 0px 2px #56caff;
  -moz-box-shadow: inset 0px 0px 0px 2px #56caff;
  box-shadow: inset 0px 0px 0px 2px #56caff;
}

.activeNote {
  background-color: #7BB242;
}
.custom {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(255, 168, 5);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(255, 168, 5);
  box-shadow: inset 0px 0px 0px 2px rgb(255, 168, 5);
}
