.effect-module {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  margin-right: 3%;

}

.effect-name {
  line-height: normal;
  white-space:nowrap;
}

.effect-on {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.effect-controls {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  text-align: left;
}

.effect-control {
  display: flex;
  flex-direction: column;
}
