.menu-pane-container {
  z-index: 22;
}

.menu-pane {
  margin: 0!important;
}

.slider {
  width: 100px;
}

.timbre-text {
  color: red;
  text-align: center;
}

.timbre-dropdown {
  margin-top: 8%!important;
}

.sound-toggle-container {
  margin: 4% 0;
}

.adsr-slider {
  margin-right: 10px;
}

.adsr-canvas{
  position: relative!important;
  top:0%!important;
  width: 275px;
}

.adsr-container {
  background-color: #282828;
  border: 1px solid #282828;
  border-radius: 0.5em;
  margin-top: 2px;
}

.scales-checkbox {
  margin: 10px 0px 10px 0px;
}

.effects-container {
  display: flex;
}

.effects-stretch {
  width: 40%!important;
}

.sound-close-menu {
  display: flex!important;
  justify-content: flex-end;
  align-items: center;
}

.horiz {
  display: flex;
  margin-top: 2%;
  align-items: center;
}

.vert {
  flex-direction: column;
}

.extra-margin {
  margin: 15px 0px!important;
}

.no-line::before {
  display: none;
}

.ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #7CB342!important;
}

.ui.toggle.checkbox input:checked~label:before {
  background-color: #7CB342!important;
}
